.grid-header{
	width:auto;
	margin: 15px 0 15px 0;
}
.grid-header p{
	margin:0px;
}
.grid-header-left{
	width: 49%;
	display: inline-block;
}
.grid-header-right{
	width: 49%;
	display: inline-block;
	font-style: italic;
	text-align:right;
}
.grid-image{
/*	height:230px;
*/	width:100%
}
.grid-tile{
	min-height: 157px;
}
.writing-tag{
	font-size: smaller;
	color: #5363A1;
}

.game-tag{
	font-size: smaller;
	color: #701418;
}